<div class="col-lg-4">
    <div class="sidebar">
        <div class="row">
            <div class="col-lg-12">
                <div class="sidebar-item search">
                    <form id="search_form" name="q" method="GET" action="{% url 'blog:search' %}">

                        <input type="text" name="q" class="searchText" placeholder="type to search..."
                               autocomplete="on">
                    </form>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                        <h2>Recent Posts</h2>
                    </div>
                    {% for article in recent_articles %}
                    <div class="content">
                        <ul>
                            <li><a href="{{article.get_absolute_url}}">
                                <h5>{{article.title}}</h5>
                                <span>{{article.created}}</span>
                            </a></li>

                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-12">
                <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                        <h2>Categories</h2>
                    </div>
                    <div class="content">
                        {% for cat in category %}
                        <ul>
                            <li><a href="{% url 'blog:category_detail' cat.pk %}">- {{cat}}</a></li>

                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                        <h2>Tag Clouds</h2>
                    </div>
                    <div class="content">
                        <ul>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Creative</a></li>
                            <li><a href="#">HTML5</a></li>
                            <li><a href="#">Inspiration</a></li>
                            <li><a href="#">Motivation</a></li>
                            <li><a href="#">PSD</a></li>
                            <li><a href="#">Responsive</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

